.vp-navbar-item {
    .route-link-active {
        background: var(--c-brand);
        color: green;
        .category-num {
            color: var(--c-bg);
        }
    }
}

.vp-sidebar-items {
    li {
        &:hover {
            background-color: rgba(101, 117, 133, 0.12);
        }
        .vp-sidebar-item {
            display: flex;
            justify-content: space-between;
        }
    }
}
